@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    grid-template-areas: "info form";
    grid-template-columns: 1fr 1fr;
    background-image: url(../../images/Group\ 9.png);
    background-size: cover;
}

.info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    gap: 11px;
    max-width: 500px;
    max-height: 111px;
    color: #fff;
    margin: 20px;
}

.title {
    font-size: 33px;
    font-weight: 900;
}

.text {
    font-size: 25px;
    font-weight: 400;
}

.form {
    grid-area: form;
    width: 440px;
    height: auto;
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px;
}

.form input:focus, .form textarea:focus {
    outline: none;
}

.form input {
    width: 100%;
    height: 45.11px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 0 9px;
    margin: 7px 0;
}

.form input::placeholder {
    font-weight: bold;
    color: #a8a8a8;
}

.form textarea {
    width: 100%;
    min-height: 150px;
    font-size: 15px;
    padding: 8px 9px;
    margin: 7px 0;
    resize: none;
    border: 1px solid #000;
    border-radius: 5px;
}

.form textarea::placeholder {
    font-weight: bold;
    color: #a8a8a8;
}

.required {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 11px;
}

.form input.submit-btn {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background-color: #3CCC87;
    border: none;
    cursor: pointer;
}

.form input.filled, .form textarea.filled {
    border: 1px solid rgb(0, 214, 0);
}

.form input.obrigatory, .form textarea.obrigatory {
    border: 1px solid red;
}

.required-field {
    color: red;
    font-size: 8px;
    font-weight: 400;
    margin: 0 200px 6px 0;
}

.form p.none {
    display: none;
}