@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    grid-template-areas: "info form";
    grid-template-columns: 1fr 1fr;
    background-image: url(../../images/Group\ 9.png);
    background-size: cover;
}

.info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    gap: 11px;
    max-width: 300px;
    max-height: 111px;
    color: #fff;
    margin: 20px;
}

.title {
    font-size: 20px;
    font-weight: 900;
}

.text {
    font-size: 15px;
    font-weight: 400;
}

.form {
    grid-area: form;
    width: 340px;
    height: 378px;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.form input {
    width: 298.01px;
    height: 35.11px;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 0 9px;
}

.form input::placeholder {
    font-weight: bold;
    color: #a8a8a8;
}

.form textarea {
    width: 298.01px;
    min-height: 100px;
    padding: 8px 9px;
    resize: none;
    border: 1px solid #000;
    border-radius: 5px;
}

.form textarea::placeholder {
    font-weight: bold;
    color: #a8a8a8;
}

.required {
    font-size: 15px;
    font-weight: 400;
    margin: 11px 0;
}

.form input.submit-btn {
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background-color: #3CCC87;
    border: none;
    cursor: pointer;
}

.form input.filled {
    border: 1px solid green;
}

.form input.obrigatory {
    border: 1px solid red;
}

.required-field {
    color: red;
    font-size: 8px;
    font-weight: 400;
    margin: 0 100px 6px 0;
}

.none {
    display: none;
}