@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    grid-template-areas: "info form";
    grid-template-columns: 1fr 1fr;
}